[submodule "zabbix/dockbix-xxl"]
	path = zabbix/dockbix-xxl
	url = https://github.com/monitoringartist/dockbix-xxl
[submodule "elk/elk-docker"]
	path = elk/elk-docker
	url = https://github.com/spujadas/elk-docker
[submodule "os/heat"]
	path = os/heat
	url = https://opendev.org/openstack/heat
[submodule "os/kolla/kolla"]
	path = os/kolla/kolla
	url = https://github.com/openstack/kolla
